body
{
    color: FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    color: #516897;
    background-color: white;
}



body {
  margin: 0px;
}

.nav {
  height: 60px;
  width: 100%;
  z-index: 5;
}
.nav >:last-child{
  flex-grow: 1;
  text-align: right;
  padding-right: 4%;
}

.nav>:nth-child(2){
  padding-left: 4%;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  width: 87%;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 19px 10px 13px 10px;
  text-decoration: none;
  color: blue;
}

.nav > .nav-links > a:hover { 
  cursor: pointer;
  color: white;
   background-color: #0275d8;
   border-radius: 5px;
}

.nav > #nav-check {
  display: none;
}

.nav-title img{
  width: 40px;
}

@media (min-width:601px) 
{
  .nav {
    display: inline-block;
    right: 0px;
    position: fixed;
    top: 0px;
    z-index: 5;
    background-color: white;
    border-bottom: 1px solid rgb(148, 148, 248);
    box-shadow: 5px 2px 8px #888888;
  }
}
@media (max-width:600px) 
{
 
  .nav > .nav-btn {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: white;
  }
  .nav-header{
    position: fixed;
    z-index: 5;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 5;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: white;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height:250;
    overflow-y: auto;
  }
}


 

/**********************************************************************/

/* .upArrow{
  position: fixed;
  padding-left: 90%;
  z-index: 5;
}
.upArrow img{
  width: 35px;
  height: 35px;
} */

/************************************************************************************* */ 
#name{
  font-weight: 900;
}

.about
{
  height: 300px;
  margin-top: 10%;
  display: flex;
}


h2{
  font-weight: 500;
}

#name
{
  text-align: justify;
  font-weight: 900;
  font-size: 45px;
  text-align: left;
}

.ProfileImg
{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

.aboutIntro
{
  text-align: left;
  margin-left: 5%;
}

.aboutIntro h1{
    color:#091292;
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer
  }

  .ProfileImg{
    box-shadow: 2px 3px 3px 3px #888888 ;
  }
  
  h4{
   text-align: justify;
  }
  /**************************************************************************************/
  .skills
  {
      display: grid;
      width: 80%;
      grid-gap:0px 50px;
      margin: auto;
  }
  .skills div
  {
     font-size: small;
  }
  .skillsDiv h2{
    text-align: left;
    width: 78%;
    margin: auto;
    padding-bottom: 2%;
    font-weight: 800;
  }

  .skill:hover{
    box-shadow: 5px 10px 8px 10px #888888 !important;

  }
  .skill{
    border-radius: 30px !important;
  }

  .skill>:last-child{
    color: #425f99;
  }

  .skills img{
    width: 60px;
  }
 
  .skills div
  {
      background-color: rgb(253, 253, 253);
      color: #091292;
      font-size: 25px;
  }

  /**********************************************************/


   h1 
  {
    font-size: 40px;
    font-weight: 700;
    color: #091292;;
    padding : 5% 0 4% 0;
  }
 
  h2{
     color: #091292;;
  }
    /**********************************************************/
 
   .project{
     width: 90%;
     margin: auto;
     margin-bottom: 4%;
     display: flex; 
     height: 250px ;
     border: 1px solid #091292;
     border-top: none;
     border-bottom-right-radius: 50px 20px;
     border-bottom-left-radius:  50px 20px;
    }

   .projectSnap {
    width: 50%;
  }

  .project:hover{
    border-top-right-radius: 10px 5px;
    border-top-left-radius:  10px 5px;
    box-shadow: 5px 10px 8px 10px #888888 ;
  }
  .projectSnap img{
    width: 70%;
    height: 250px;
    padding:1%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(170, 166, 166);  
  }

  .projectInfo
  {
    width: 50%;
    text-align: left;
  }

  .projectInfo img{
    width: 20px;
  }

  .title{
    font-weight: 800;
    color: #091292;
    font-size: 19px;
    padding: 2% 0 1% 0;
  }
  .techStack{
    font-weight: 800;
  }
  .areas{
    padding: 1% 0 1% 0;
    font-weight: 500;
    font-size: 17px;
  }

  .projectInfo button{
    font-size: 15px;
  }

  /********************************************/

 .row{
   width: 90%;
   margin: auto;
   margin-bottom: 3%;
   
 }
/* 
 .row div :hover{
  background-color: blue !important;
 } */

 .row div{
   display: flex;
   text-align:center;
   color: black;
 }

 .row div:hover{
  cursor: pointer;
}
.connectTo{
  border-color: white !important ;
}

.connectTo:hover{
 border-color: black !important;
 color: black;
 font-weight: 700;
 cursor: pointer;
}

 .connect div{
   margin-top: 2%;
 }

   .rowImage 
   {
    width: 20%;
   }
   .rowImage img
  {
   width: 30px;
  }

   .rowImage + div
   {
     width: 100%;
     font-size: medium;
     text-align: left;
   }

   .copyright
   {
     font-size: medium;
     margin: 2% ;
   }

.copyright div{
  margin: auto;
  width: 90%;
}

.copyright{
  background-color: black;
  margin:0;
  padding:1% 0 1% 0;
}

/****************************************************8888888888*/

.social{
 width: 60%;
 margin: auto;
 padding: 2% 0 2% 0;
}

.socialIcon{
display: flex;
margin-top: 4%;
}
 .socialIcon img{
 padding-bottom: 0%;
 padding-left: 5%;
} 

.socialIcon>:last-child
{
  text-decoration: none;
  text-align: right !important;
  padding-left: 10%;
  font-size: 16px;
  padding-top: 1%;
  color: #333;
}


.connectIcons{
  margin-bottom: 2%;
}
.connectIcons img{
   width: 40px;
}

.newConnect{
  width: 90%;
  margin: auto;
}

.connectTo{
  display: flex;
  margin-bottom: 2%;
}