body
{
  
    color: FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    color: #323896;
    background-color: white;
}


 .resume
{
    border:cyan 3px solid;
    color: cyan;
    transition: all 2s linear;
    transform: rotate(360deg);
}
.resume:hover
{
    background-color: rgb(71, 117, 117);
    cursor: pointer;
} 


/***************************************************/

 

.Navbar
{
    display: flex;
    margin-top: 2%; 
    padding-right: 5%;
    color: #091292;
}

.Navbar  div{
    flex-grow: 1;
}

.Navbar>:nth-last-child(2)
{
    display: flex;
    font-weight: 700;
}

.Navbar>:first-child
{
    padding-left:4%;
    text-align: left;
}

.Navbar >:nth-child(2) div:hover
{
    cursor: pointer;
    border: 2px solid rgb(53, 39, 90);
} 


#creativeName {
  color:#fff;
}

#creativeName {     
  color: #091292;; 
  text-decoration: none;
}

/************************************************************************************* */ 
.about
{
  height: 300px;
  margin-top: 5%;
  display: flex;
}

.about h2
{
  text-align: justify;
  font-weight: 600;
}

.ProfileImg
{
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 250px;
  padding: 15px;
}

.aboutIntro
{
  text-align: left;
  margin-left: 5%;
}

.aboutIntro h1{
    color:#091292;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer
  }
  

  /**************************************************************************************/
  .skills
  {
      display: grid;
      width: 90%;
      grid-gap:0px 80px;
      margin: auto;
  }

  .skills img{
    width: 60px;
  }
 
  .skills div
  {
      background-color: rgb(253, 253, 253);
      color: #091292;
      font-size: 25px;
  }

  /**********************************************************/


   h1 
  {
    font-size: 50px;
    font-weight: 700;
    color: #091292;;
    padding : 2% 0 2% 0;
    
  }
 
  h2{
     color: #091292;;
  }
    /**********************************************************/
   
    .projects{
      font-size: 16px;
    }
   .project{
     width: 90%;
     margin: auto;
     margin-bottom: 4%;
     display: flex; 
     height: 250px ;
     border: 1px solid #091292;
     border-top: none;
     border-bottom-right-radius: 50px 20px;
     border-bottom-left-radius:  50px 20px;
    }

   .projectSnap {
    width: 50%;
  }

  .projectSnap img{
    width: 70%;
    height: 250px;
    padding:1%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(170, 166, 166);  
  }

  .projectInfo
  {
    /* border: 2px solid blue; */
    /* height: 200x; */
    width: 50%;
    text-align: left;
    /* padding-left: 3%; */
    /* border: 1px solid  #091292; */

  }

  .projectInfo img{
    width: 20px;
  }

  .title{
    font-weight: 800;
    color: #091292;
    font-size: 20px;
    padding: 2% 0 1% 0;
  }
  .techStack{
    font-weight: 800;
  }
  .areas{
    padding: 1% 0 1% 0;
    font-weight: 500;
  }

  /********************************************/

 .row{
   width: 90%;
   margin: auto;
 }

 .row div{
   display: flex;
 }

 .row div:hover{
  cursor: pointer;
}


 .connect div{
   margin-top: 2%;
 }

 .rowImage 
   {
    width: 20%;
   }
   .rowImage img
   {
    width: 50%;
   }

   .rowImage + div
   {
     width: 80%;
     font-size: medium;
     text-align: right;
   }

   .copyright
   {
     font-size: medium;
     margin: 2% ;
   }