

@media screen and ( min-width:1000px)
{
   
    .menu{
        display: none;
    }
    .skills{
        grid-template: 'a b c'
                       'e f g';
    }
    .about
    {
      display: flex;
      flex-direction: row;
    }
    .skill{
      width: 200px;
    }

}


@media screen and ((min-width:100px)and( max-width:999px))
{
  .menu
  {
      display: block;
  }
  .NavbarHeading div
  {
      display:hidden;
  }

  .newConnect{
    display: flex;
    flex-direction: column ;
  }

   .first{
    height: 360px !important;
   }
 
}

@media screen and (min-width: 1000px)  and (max-width:1200px){
  .about {
    flex-direction: row;
  }
  .about>:first-child
  {
    width: 60%;
  }
  .about>:nth-child(2)
  {
    width: 40%;
  }

  .projects>:first-child
  {
     height: 310px;
  }
  .projects>:nth-child(2)
  {
    height: 380px;
  }
  .projects>:last-child{
    height:320px;
  }
  
  .projects >:first-child .projectSnap img{
    height: 310px;
  }
  .projects >:nth-child(2) .projectSnap img{
    height: 380px;
  }
  .projects >:last-child .projectSnap img{
    height:320px;
  }
  .skills{
    grid-template: 'a b c d'
                    ;
}
}

@media screen and (min-width: 1201px)  {
  .about {
    flex-direction: row;
  }
  .about>:first-child
  {
    width: 60%;
  }
  .about>:nth-child(2)
  {
    width: 40%;
  }


  .projects>:first-child
  {
     height: 270px;
  }
  .projects>:nth-child(2)
  {
    height: 280px;
  }

  .projects>:last-child{
    height: 250px;
  }

  .projects >:first-child .projectSnap img{
    height: 269px;
  }
  .projects >:nth-child(2) .projectSnap img{
    height: 279px;
  }
  .projects >:last-child .projectSnap img{
    height: 249px;
  }

  .skills{
    grid-template: 'a b c d'
                    ;
}
}

@media screen and (min-width:100px) and (max-width:374px)
{
  .about {
    flex-direction: column;
    height: 840px;
  }
  .aboutIntro{
    margin: 0% ;
    padding: 4%;
 }
 .about>:first-child{
   width: 100%;
} 

.skillsDiv h2{
  text-align: center;
}
}

@media screen and (min-width:375px) and (max-width:999px)
{
  .about {
    flex-direction: column;
    height: 740px;
  }

  .aboutIntro{
     margin: 0% ;
     padding: 4%;
  }
  .about>:first-child{
    width: 100%;
 } 

 .skillsDiv h2{
   text-align: center;
 }
}

@media screen and  (min-width:551px) and (max-width:700px)
{
  .about {
    height: 400px;
  }
}



@media screen and (min-width:100px) and (max-width:499px)
{
  #skills{
    padding-top: 20%;
  }
}

@media screen and (min-width:321px) and (max-width:499px)
{

  .project {
    flex-direction: column;
    font-size: medium;
    margin-top: 15%;
  }
  .buttonLive{
    margin-top: 4%;
  }
  .projects>:first-child
  {
     height: 625px;
  }
  .projects>:nth-child(2)
  {
    height: 650px;
  }

  .projects>:last-child{
    height: 650px;
  }
  .project div{
    width: 100%; 
   } 
  
   .projectSnap img{
    width: 100%;
   }

   .projectInfo
   {
     padding-left: 4%;
   }
   .connectTo{
     margin-bottom: 5% !important;
   }

   .social {
     width: 90%;
     margin: auto;
   }
   .social img{
     width: 40px !important;
   }
}



@media screen and (min-width:100px) and (max-width:320px)
{

  .connectTo div{
    font-size: 13px;
  }
  .project {
    flex-direction: column;
    font-size: medium;
    margin-top: 15%;
  }
  .buttonLive{
    margin-top: 4%;
  }
  .projects>:first-child
  {
     height: 655px;
  }
  .projects>:nth-child(2)
  {
    height: 720px;
  }

  .projects>:last-child{
    height: 700px;
  }
  .project div{
    width: 100%; 
   } 
  
   .projectSnap img{
    width: 100%;
   }

   .projectInfo
   {
     padding-left: 4%;
   }
   .connectTo{
     margin-bottom: 5% !important;
   }

   .social {
     width: 90%;
     margin: auto;
   }
   .social img{
     width: 40px !important;
   }

}


@media screen and (min-width:500px) and (max-width:999px)
{
  .project {
    flex-direction: column;
    font-size: medium;
    height: 520px;
    margin-top: 15%;
  }

  .project div{
    width: 100%; 
   } 
  
   .project>:last-child{
     padding-left: 10%;
   } 
  
  .projectSnap img{
    width: 80%;
   }   
   .skills{
    grid-template: 'a b'
                   'c e'
                    ;
}
   
}

@media screen and (min-width:1000px) 
{
.newConnect{
    display: flex;
    text-align: left;
  }
  .newConnect>:first-child{
    text-align: left;
    height: 200px;
    width: 100%;
  }
  
  .newConnect>:last-child{
    padding-left: 1%;
    width: 100%;

  }
}